h1{
    color: red;
    border-bottom: 1px solid blue;
    padding: 10px;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: teal;
    border: 1px solid tomato;
    padding: 20px;

}
.git_publish h2{
    color: #fff;
    border: 1px solid red;
    padding: 20px;
    margin-top: 50px;
    background: #000;
    font-size: 26px;

}
.images{
    height: 300px;
    width: 400px;
    display: inline-block;
}
.images img{
    width: 100%;
    height: 100%;
    display: inline-block;
}